body {
    font-size: 16px;
}

body > p {
    font-size: 16px;
    text-align: center;
}

.error_msg {
    color: #ff0000;
}

h1 {
    font-size: 64px;
    text-align: center;
}

.login_table {
    width: 500px;
    height: 300px;
    margin-left: 25%;
}

.view_dl {
    padding-left: 20%;
}

.login_a, .edit_a {
    margin: 0;
}

.form_class {
    margin-left: 15%;
}

.search_form {
    margin-left: 15%;
}

.search_result {
    margin-left: 10%;
}

th {
    width: 200px;
}

th > label {
    text-align:right;
}

td {
    width: 300px;
}

dt {
    width: 150px;
    float: left;
    text-align: right;
}

dt::after {
    content: "："
}

dd {
/*
    width: 400px;
*/
    padding-left: 10px;
}

dd > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

dd > ul > li {
    margin: 0 0 0 20px;
    float: left;
    width: 60px;
}

dt.dt_img {
    clear: both;
}

dd.dd_img {
    float: left;
    margin: 0;
    padding: 0;
}

dd.dd_img > input {
    border: none;
}

.img_view {
    width: 100%;
    height: 100%;
}

.pw_worning {
    color: #ff0000;
}

.button_field {
    clear: both;
    margin: 0 auto 0 150px;
    padding-top: 10px;
/*
    text-align: center;
*/
}

.button_style {
    font-size: 20px;
    border-top: 1px solid #cccccc;
}

dd > input {
    width: 500px;
    border-top: 1px solid #000000;
}

input#id_admin_num {
    width: 10px;
}

.dt_admin {
    clear: both;
}

.dd_admin {
    float: left;
    margin: 0;
    padding: 0;
}

ul#id_admin_num_choice > li {
    width: 100px;
}


.search_table, .search_table > tbody > tr > th, .search_table > tbody > tr > td  {
    border: 1px solid #000000;
}

.search_table > tbody > tr > th, .search_table > tbody > tr > td {
    padding: auto;
    text-align: center;
    vertical-align: middle;
}

.search_id {
    width: 50px;
}

.search_name {
    width: 150px;
}

.search_email {
    width: 200px;
}

.search_gender {
    width: 100px;
}

.search_date {
    width: 150px;
}

.search_admin {
    width: 150px;
}

.button_id {
    background-color: #ffffff;
    border: none;
}